@media (max-width: 477px ) {
.container{
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    background: #252525;
}

#inputData{
    height: 20rem;
    font-size: 5rem;
}

.btn{
    width: 5rem;
    height: 5rem;
    margin: 5px;
}

.btns{
    gap: 15px;
}

.container-sci .btns
{
height: 510px;
    background-color: #252525;
}

}